@import '../main-styles/variables';
@import '../main-styles/libs/normalize';

.filter-buttons {
  position: relative;
  width: 75%;
 
  margin: 0 auto;
  ul {
    display: flex;
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
  .active__burger_list {
    position: absolute;
    top: 0;
    left: -20px;
    display: flex;
    flex-direction: column;
    z-index: 12;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      margin-top: 15%;
      margin-right: 0;
      &:first-child {
        margin-top: 40%;
      }
    }
  }
  .burger__wrapper {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -30px;
    left: 0;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 5px rgba(34, 60, 80, 0.2);
    display: none;
    align-items: center;
    z-index: 2;
    background: white;

    &:hover {
      cursor: pointer;
    }
    .burger {
      transition: 0.5s;
      span {
        position: absolute;
        width: 20px;
        height: 3px;
        background: black;
        top: 47%;
        left: 13px;
        &:before {
          position: absolute;
          content: "";
          width: 15px;
          height: 3px;
          background: black;
          transform: translateY(10px);
          transition: 0.5s;
        }
        &:after {
          position: absolute;
          content: "";
          width: 25px;
          height: 3px;
          background: black;
          transform: translateY(-10px);
          transition: 0.5s;
        }
      }
   }
    .filter__label {
      margin-left: 15vh;
      position: relative;
      display: flex;
      align-items: center;
      span {
        width: 30px;
        height: 2px;
        background: black;
        position: relative;
        &:before {
          content: "";
          width: 15px;
          height: 2px;
          background: black;
          transform: translateY(-6px) rotate(-45deg);
          position: absolute;
          transition: 0.5s;
        }
        &:after {
          content: "";
          width: 15px;
          height: 2px;
          background: black;
          transform: translateY(5px) rotate(45deg);
          position: absolute;
          transition: 0.5s;
        }
      }
      h4 {
        color: black;
        font-size: 16px;
        padding-left: 3vh;
        font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;;
      }
    }
  }
}

@media (max-width : 1290px) {
  .filter-buttons {
    margin-bottom: 50px !important;
    overflow: scroll;
  }
}