.content {
  padding: 40px 0;

  &__title {
    margin: 35px 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pizza__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    grid-column-gap: 30px;
    
  }
}

