@import '../main-styles/variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container__logo {
    flex-direction: column;
  }
}
